@import '../../styles/mixins';
@import '../../styles/variables';

.button {
  background-color: var(--color-petite-brand);
  color: #ffffff;
  letter-spacing: .12rem;
  border-radius: .4rem;
  font-family: 'Poppins', sans-serif;
  padding: 1.25rem 2.5rem;
  filter: drop-shadow(0px 6px 15px rgba(0, 0, 0, 0.3));
  border: none;
  width: 100%;

  &:focus {
    outline: none;
    
  }

  &:active {
    filter: none;
  }
}

.button.light {
  background-color: var(--color-petite-brand-light);
}

.button.dark {
  background-color: var(--color-petite-brand-dark);
}

.button.black {
  background-color: var(--color-petite-black);
}

.button.white {
  color: var(--color-petite-black);
  background-color: var(--color-petite-background);
}

@include laptopS {
  .button {
    cursor: pointer;

    &:hover {
      opacity: .85;
    }
  }
}