.collectionItem {

  .itemPhoto {
    max-width: 35rem;
  }

  label {
    margin-top: 1rem;
    display: block;
  }
  p, small {
    margin-left: .3rem;
  }

  p {
    margin-bottom: 0;
  }

  small {
    font-size: 85%;
    margin-top: -.5rem;
    display: block;
  }
}