@import "../../styles/variables";
@import "../../styles/mixins";

.footer {
	text-align: center;
	padding: 1.5rem 0;

	.menuLinks {
		@include hideOnMobile;
	}

	small {
		font-size: 75%;
	}

	.social {
		margin-top: 2rem;
		svg {
			margin: 0 1rem;

			path:first-of-type {
				fill: transparent;
			}

			* {
				fill: var(--color-petite-black);
			}
		}
	}
}

@include laptopS {
	.footer {
		padding: 5rem 0 2rem;

		.menuLinks {
			text-align: center;
			padding: 3rem 0 4rem;

			a {
				margin: 0 1.5rem;
			}
		}

		.social {
			margin-top: 0;
		}
	}
}
