.dropdownMenu {
  position: absolute;
  z-index: 999;
  min-width: 15rem;
  background-color: var(--color-petite-background);
  box-shadow: 1px 9px 9px 4px #a2a2a270;
  
  .flexContainer {
    display: flex;
    flex-direction: column;
  }
}