@import "../../../../styles/_mixins.scss";

.main {
	.itemsPhotos {
		margin-top: 2.5rem;
		.photosGridDesktop {
			@include hideOnMobile;
		}
		.swiper {
			@include hideOnDesktop;
			.swiperImgHolder {
				position: relative;
				max-width: 50rem;
				@include autoMargins;
			}
		}
	}

	.colors,
	.info {
		max-width: 50rem;
		@include autoMargins;
	}

	.colorsDesktop {
		@include hideOnMobile;
	}

	.colors {
		display: flex;
		justify-content: center;
		margin-top: 1.15rem;

		span {
			width: 2.75rem;
			height: 2.75rem;
			display: block;
			margin: 1rem;
			cursor: pointer;

			&.selected {
				border: 3px solid var(--color-petite-grey);
			}
		}
	}

	.info {
		margin-top: 2.5rem;

		.title {
			display: flex;
			align-items: baseline;

			p {
				text-transform: capitalize;
				font-size: 2.5rem;
				margin: 1.5rem 0;
				@include moreLetterSpacing;
			}

			small {
				margin-left: auto;
			}
		}

		a {
			font-size: 1.35rem;
			font-weight: 500;
			margin-bottom: 1.25rem;
			display: block;
		}

		form {
			.layoutContainer {
				margin-bottom: 4rem;
				display: flex;
				flex-wrap: wrap;
				// justify-content: center;
				align-items: center;

				.numberOfItems {
					margin: 2rem 0;
					display: inline-block;
				}

				.wishlist {
					margin-left: auto;
					button {
						display: flex;
						padding: 0.5rem;
					}
				}
			}
		}
	}

	.description,
	.furtherInfo {
		max-width: 50rem;
		margin-left: auto;
		margin-right: auto;
	}

	.description {
		margin-top: 4rem;

		p {
			@include lineHeightP;
		}
	}

	.furtherInfo {
		margin: 3rem auto;

		p {
			@include moreLetterSpacing;
			font-weight: 600;
			font-size: 1.4rem;
		}

		small {
			font-size: 75%;
			@include moreLetterSpacing;
		}
	}
}

@include laptopS {
	.main {
		.colorsMobile {
			@include hideOnDesktop;
		}

		.itemsPhotos {
			min-width: 70%;
			height: 100%;
			max-height: 35vh;
			overflow-y: scroll;

			.photosGridDesktop {
				display: grid;
				grid-template-columns: 1fr 1fr;
				grid-gap: 1.5rem;
				justify-items: center;

				.gridImgHolder {
					width: 100%;
					max-width: 50rem;
				}
			}
		}

		.info {
			margin-left: 3rem;
			margin-right: 0;
			width: 25%;

			.colors {
				justify-content: flex-start;
				margin-top: 0;

				span {
					margin: 0 1.75rem 3rem 0;
				}
			}
		}
		.description,
		.furtherInfo {
			max-width: unset;
			margin: unset;
			width: 50%;
			padding: 7rem 10rem;

			p {
				@include moreLetterSpacing;
				@include lineHeightP;
			}
		}

		.furtherInfo {
			p {
				font-weight: 700;
			}
		}
	}

	.flex {
		display: flex;
		margin-left: unset;
		margin-right: unset;
		max-width: unset;
		flex-wrap: wrap;
	}
}

@include laptop {
	.main {
		.itemsPhotos {
			height: 80vw;
			max-height: 100vh;
		}
	}
}
