$color-petite-black: #24201D;
$color-petite-grey: #677280;
$color-petite-dark-beige: #B66E60;
$color-petite-beige:  #D17E6E;
$color-petite-light-beige: #E3A992;
$color-petite-light-green: #DCD9D2;
$color-petite-white: #F3F3F3;
$color-petite-background: #F5F7FA;
