@import url("https://fonts.googleapis.com/css2?family=Cormorant:wght@300;400;500;600;700&family=Poppins:wght@300;400;500;600;700&display=swap");
@import "./variables";
@import "./mixins";

:root {
  --color-petite-black: #24201d;
  --color-petite-grey: #677280;
  --color-petite-white: #f3f3f3;
  --color-petite-background: #f5f7fa;

	.autumn-theme {
		--color-petite-brand-dark: #b66e60;
		--color-petite-brand: #d17e6e;
		--color-petite-brand-light: #e3a992;
		--color-petite-secondary-light: #dcd9d2;
  }
  
	.summer-theme {
    --color-petite-brand-dark: #023047;
		--color-petite-brand: #219ebc;
		--color-petite-brand-light: #8ecae6;
		--color-petite-secondary-light: #d4d4d4;
  }

	.winter-theme {
    --color-petite-brand-dark: #2b2d42;
		--color-petite-brand: #8d99ae;
		--color-petite-brand-light: #a8b7d1;
		--color-petite-secondary-light: #c6d0e2;
	}

	.spring-theme {
    --color-petite-brand-dark: #8b2459;
		--color-petite-brand: #E12C8B;
		--color-petite-brand-light:#e67ab2;
		--color-petite-secondary-light: #E4C1BB;
	}
}

html,
body {
	padding: 0;
	margin: 0;
	font-family: "Poppins", BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu,
		Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
	background-color: var(--color-petite-background);
	color: var(--color-petite-black);
	font-size: 62.5%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "Cormorant", serif;
	font-weight: 600;
	letter-spacing: -1.5px;
	margin: 0;
}

h1 {
	font-size: 4.8rem;
}

h2 {
	font-size: 4.6rem;
}

h3 {
	font-size: 3.8rem;
}

h4 {
	font-size: 3rem;
}

h5 {
	font-size: 2.4rem;
}

h6 {
	font-size: 1.6rem;
}

a {
	color: inherit;
	// text-decoration: none;
	font-weight: 600;
}

small {
	font-size: 90%;
}

* {
	box-sizing: border-box;
	font-size: 1.6rem;
}

@include laptopS {
	h1 {
		font-size: 6.4rem;
	}

	h2 {
		font-size: 5.6rem;
	}

	h3 {
		font-size: 4.8rem;
	}

	h4 {
		font-size: 4rem;
	}

	h5 {
		font-size: 3.2rem;
	}

	h6 {
		font-size: 2.8rem;
	}
}
